In [1]:
import numpy as np
import pandas as pd

In [2]:
# Creating a series from a Python list
myindex = ['USA','Canada','England']

mydata = [1776,1867,1821]

In [3]:
# Just the numeric index
myser = pd.Series(data=mydata)

print(myser)

0    1776
1    1867
2    1821
dtype: int64

In [4]:
# Now the named index
myser = pd.Series(data=mydata,index=myindex)

print(myser)

USA        1776
Canada     1867
England    1821
dtype: int64

In [5]:
# Creating a series from NumPy array
# First create a NumPy array using the earlier list
ran_data = np.random.randint(0,100,4)
print(ran_data)

names = ['Alice','Bob','Charles','Dave']

ages = pd.Series(ran_data,names)

print(ages)

[78 31 16 18]
Alice      78
Bob        31
Charles    16
Dave       18
dtype: int32

In [6]:
# Creating a series from a dictionary

ages = {'Sammy':5,'Frank':10,'Spike':7}

print(ages)

print(pd.Series(ages))

{'Sammy': 5, 'Frank': 10, 'Spike': 7}
Sammy     5
Frank    10
Spike     7
dtype: int64

In [7]:
# Using named index
# Imaginary Sales Data for 1st and 2nd Quarters for a Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [8]:
# Convert into Pandas Series
sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)

print(sales_Q1)

Japan     80
China    450
India    200
USA      250
dtype: int64

In [9]:
# Call values based on Named Index
print(sales_Q1['Japan'])

80

In [10]:
# Integer Based Location information also retained!
print(sales_Q1[0])

80

C:\Users\jayes\AppData\Local\Temp\ipykernel_5140\644169171.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sales_Q1[0])

In [11]:
# Be careful with potential errors!

# Wrong Name
# print(sales_Q1['France'])

In [12]:
# Accidental Extra Space
# print(sales_Q1['USA '])

In [13]:
# Text case Mistake
# print(sales_Q1['usa'])

In [14]:
# Series operations
# Grab just the index keys
print(sales_Q1.keys())

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [15]:
# Can Perform Operations Broadcasted across entire Series
print(sales_Q1 * 2)

print(sales_Q2 / 100)

Japan    160
China    900
India    400
USA      500
dtype: int64
Brazil    1.0
China     5.0
India     2.1
USA       2.6
dtype: float64

In [16]:
# Notice how Pandas informs you of mismatch with NaN
print(sales_Q1 + sales_Q2)

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [17]:
# You can fill NAN with any matching data type value you want
print(sales_Q1.add(sales_Q2,fill_value=0))

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

## Pandas DateFrame

In [18]:
# Create a simple dataframe from an existing Python list

np.random.seed(101)
mydata = np.random.randint(0,101,(4,3))

print(mydata)

myindex = ['CA','NY','AZ','TX']

mycolumns = ['Jan','Feb','Mar']

df = pd.DataFrame(data=mydata)
print(df)

[[95 11 81]
 [70 63 87]
 [75  9 77]
 [40  4 63]]
    0   1   2
0  95  11  81
1  70  63  87
2  75   9  77
3  40   4  63

In [19]:
df = pd.DataFrame(data=mydata,index=myindex)
print(df)

     0   1   2
CA  95  11  81
NY  70  63  87
AZ  75   9  77
TX  40   4  63

In [20]:
df = pd.DataFrame(data=mydata,index=myindex,columns=mycolumns)
print(df)

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [21]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int32
 1   Feb     4 non-null      int32
 2   Mar     4 non-null      int32
dtypes: int32(3)
memory usage: 80.0+ bytes
None

In [22]:
# Create a dataframe from a CSV file

df = pd.read_csv('tips.csv')
print(df)

     total_bill   tip  gender smoker   day    time  size  price_per_person  \
0         16.99  1.01  Female     No   Sun  Dinner     2              8.49
1         10.34  1.66    Male     No   Sun  Dinner     3              3.45
2         21.01  3.50    Male     No   Sun  Dinner     3              7.00
3         23.68  3.31    Male     No   Sun  Dinner     2             11.84
4         24.59  3.61  Female     No   Sun  Dinner     4              6.15
..          ...   ...     ...    ...   ...     ...   ...               ...
239       29.03  5.92    Male     No   Sat  Dinner     3              9.68
240       27.18  2.00  Female    Yes   Sat  Dinner     2             13.59
241       22.67  2.00    Male    Yes   Sat  Dinner     2             11.34
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

             Payer Name     CC Number Payment ID
0    Christy Cunningham  3.560330e+15    Sun2959
1        Douglas Tucker  4.478070e+15    Sun4608
2        Travis Walters  6.011810e+15    Sun4458
3      Nathaniel Harris  4.676140e+15    Sun5260
4          Tonya Carter  4.832730e+15    Sun2251
..                  ...           ...        ...
239       Michael Avila  5.296070e+15    Sat2657
240      Monica Sanders  3.506810e+15    Sat1766
241          Keith Wong  6.011890e+15    Sat3880
242        Dennis Dixon  4.375220e+12      Sat17
243     Michelle Hardin  3.511450e+15    Thur672

[244 rows x 11 columns]

In [23]:
''' 
Columns
    * tip in dollars,
    * bill in dollars,
    * gender of the bill payer,
    * whether there were smokers in the party,
    * day of the week,
    * time of day,
    * size of the party.
Note: Fake columns: Name, CC Number, and Payment ID
'''

' \nColumns\n    * tip in dollars,\n    * bill in dollars,\n    * gender of the bill payer,\n    * whether there were smokers in the party,\n    * day of the week,\n    * time of day,\n    * size of the party.\nNote: Fake columns: Name, CC Number, and Payment ID\n'

In [24]:
print(df.columns) # Column names

Index(['total_bill', 'tip', 'gender', 'smoker', 'day', 'time', 'size',
       'price_per_person', 'Payer Name', 'CC Number', 'Payment ID'],
      dtype='object')

In [25]:
print(df.index) # Index

RangeIndex(start=0, stop=244, step=1)

In [26]:
print(df.head(3)) # First three rows

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00

           Payer Name     CC Number Payment ID
0  Christy Cunningham  3.560330e+15    Sun2959
1      Douglas Tucker  4.478070e+15    Sun4608
2      Travis Walters  6.011810e+15    Sun4458

In [27]:
print(df.tail(3)) # Last three rows

     total_bill   tip  gender smoker   day    time  size  price_per_person  \
241       22.67  2.00    Male    Yes   Sat  Dinner     2             11.34
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

          Payer Name     CC Number Payment ID
241       Keith Wong  6.011890e+15    Sat3880
242     Dennis Dixon  4.375220e+12      Sat17
243  Michelle Hardin  3.511450e+15    Thur672

In [28]:
print(df.info()) # Information about he DF, including data types and memory used

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   total_bill        244 non-null    float64
 1   tip               244 non-null    float64
 2   gender            244 non-null    object
 3   smoker            244 non-null    object
 4   day               244 non-null    object
 5   time              244 non-null    object
 6   size              244 non-null    int64
 7   price_per_person  244 non-null    float64
 8   Payer Name        244 non-null    object
 9   CC Number         244 non-null    float64
 10  Payment ID        244 non-null    object
dtypes: float64(4), int64(1), object(6)
memory usage: 21.1+ KB
None

In [29]:
print(len(df)) # Number of rows

244

In [30]:
print(df.describe()) # Statistical summary

       total_bill         tip        size  price_per_person     CC Number
count  244.000000  244.000000  244.000000        244.000000  2.440000e+02
mean    19.785943    2.998279    2.569672          7.888197  2.563495e+15
std      8.902412    1.383638    0.951100          2.914234  2.369340e+15
min      3.070000    1.000000    1.000000          2.880000  6.040679e+10
25%     13.347500    2.000000    2.000000          5.800000  3.040732e+13
50%     17.795000    2.900000    2.000000          7.255000  3.525320e+15
75%     24.127500    3.562500    3.000000          9.390000  4.553675e+15
max     50.810000   10.000000    6.000000         20.270000  6.596450e+15

In [31]:
print(df.describe().transpose()) # Statistical summary, better organized

                  count          mean           std           min  \
total_bill        244.0  1.978594e+01  8.902412e+00  3.070000e+00
tip               244.0  2.998279e+00  1.383638e+00  1.000000e+00
size              244.0  2.569672e+00  9.510998e-01  1.000000e+00
price_per_person  244.0  7.888197e+00  2.914234e+00  2.880000e+00
CC Number         244.0  2.563495e+15  2.369340e+15  6.040679e+10

                           25%           50%           75%           max
total_bill        1.334750e+01  1.779500e+01  2.412750e+01  5.081000e+01
tip               2.000000e+00  2.900000e+00  3.562500e+00  1.000000e+01
size              2.000000e+00  2.000000e+00  3.000000e+00  6.000000e+00
price_per_person  5.800000e+00  7.255000e+00  9.390000e+00  2.027000e+01
CC Number         3.040732e+13  3.525320e+15  4.553675e+15  6.596450e+15

## Column Selection and Indexing

In [32]:
df = pd.read_csv('tips.csv')
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID
0  Christy Cunningham  3.560330e+15    Sun2959
1      Douglas Tucker  4.478070e+15    Sun4608
2      Travis Walters  6.011810e+15    Sun4458
3    Nathaniel Harris  4.676140e+15    Sun5260
4        Tonya Carter  4.832730e+15    Sun2251

In [33]:
# Select a single column
print(df['total_bill'])
print(type(df['total_bill']))

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64
<class 'pandas.core.series.Series'>

In [34]:
# Select multiple columns
# Note how its a python list of column names! Thus the double brackets.
print(df[['total_bill','tip']])

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]

In [35]:
# Create new columns
df['tip_percentage'] = 100 * df['tip'] / df['total_bill']
print(df.head())

df['price_per_person'] = df['total_bill'] / df['size']
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID  tip_percentage
0  Christy Cunningham  3.560330e+15    Sun2959        5.944673
1      Douglas Tucker  4.478070e+15    Sun4608       16.054159
2      Travis Walters  6.011810e+15    Sun4458       16.658734
3    Nathaniel Harris  4.676140e+15    Sun5260       13.978041
4        Tonya Carter  4.832730e+15    Sun2251       14.680765
   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2          8.495000
1       10.34  1.66    Male     No  Sun  Dinner     3          3.446667
2       21.01  3.50    Male     No  Sun  Dinner     3          7.003333
3       23.68  3.31    Male     No  Sun  Dinner     2         11.840000
4       24.59  3.61  Female     No  Sun  Dinner     4          6.147500

           Payer Name     CC Number Payment ID  tip_percentage
0  Christy Cunningham  3.560330e+15    Sun2959        5.944673
1      Douglas Tucker  4.478070e+15    Sun4608       16.054159
2      Travis Walters  6.011810e+15    Sun4458       16.658734
3    Nathaniel Harris  4.676140e+15    Sun5260       13.978041
4        Tonya Carter  4.832730e+15    Sun2251       14.680765

In [36]:
# Adjust Existing Columns
df['price_per_person'] = np.round(df['price_per_person'],2)
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID  tip_percentage
0  Christy Cunningham  3.560330e+15    Sun2959        5.944673
1      Douglas Tucker  4.478070e+15    Sun4608       16.054159
2      Travis Walters  6.011810e+15    Sun4458       16.658734
3    Nathaniel Harris  4.676140e+15    Sun5260       13.978041
4        Tonya Carter  4.832730e+15    Sun2251       14.680765

In [37]:
# Remove Columns
df = df.drop("tip_percentage",axis=1)
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID
0  Christy Cunningham  3.560330e+15    Sun2959
1      Douglas Tucker  4.478070e+15    Sun4608
2      Travis Walters  6.011810e+15    Sun4458
3    Nathaniel Harris  4.676140e+15    Sun5260
4        Tonya Carter  4.832730e+15    Sun2251

In [38]:
# Index
print(df.head())
print(df.index)

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID
0  Christy Cunningham  3.560330e+15    Sun2959
1      Douglas Tucker  4.478070e+15    Sun4608
2      Travis Walters  6.011810e+15    Sun4458
3    Nathaniel Harris  4.676140e+15    Sun5260
4        Tonya Carter  4.832730e+15    Sun2251
RangeIndex(start=0, stop=244, step=1)

In [39]:
df.set_index('Payment ID')
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID
0  Christy Cunningham  3.560330e+15    Sun2959
1      Douglas Tucker  4.478070e+15    Sun4608
2      Travis Walters  6.011810e+15    Sun4458
3    Nathaniel Harris  4.676140e+15    Sun5260
4        Tonya Carter  4.832730e+15    Sun2251

In [40]:
df = df.set_index('Payment ID')
print(df.head())

            total_bill   tip  gender smoker  day    time  size  \
Payment ID
Sun2959          16.99  1.01  Female     No  Sun  Dinner     2
Sun4608          10.34  1.66    Male     No  Sun  Dinner     3
Sun4458          21.01  3.50    Male     No  Sun  Dinner     3
Sun5260          23.68  3.31    Male     No  Sun  Dinner     2
Sun2251          24.59  3.61  Female     No  Sun  Dinner     4

            price_per_person          Payer Name     CC Number
Payment ID
Sun2959                 8.49  Christy Cunningham  3.560330e+15
Sun4608                 3.45      Douglas Tucker  4.478070e+15
Sun4458                 7.00      Travis Walters  6.011810e+15
Sun5260                11.84    Nathaniel Harris  4.676140e+15
Sun2251                 6.15        Tonya Carter  4.832730e+15

In [41]:
df = df.reset_index() # Set it to the default integer values
print(df.head())

  Payment ID  total_bill   tip  gender smoker  day    time  size  \
0    Sun2959       16.99  1.01  Female     No  Sun  Dinner     2
1    Sun4608       10.34  1.66    Male     No  Sun  Dinner     3
2    Sun4458       21.01  3.50    Male     No  Sun  Dinner     3
3    Sun5260       23.68  3.31    Male     No  Sun  Dinner     2
4    Sun2251       24.59  3.61  Female     No  Sun  Dinner     4

   price_per_person          Payer Name     CC Number
0              8.49  Christy Cunningham  3.560330e+15
1              3.45      Douglas Tucker  4.478070e+15
2              7.00      Travis Walters  6.011810e+15
3             11.84    Nathaniel Harris  4.676140e+15
4              6.15        Tonya Carter  4.832730e+15

In [42]:
# Another index example - Air BNB dataset from Kaggle

# Default index
df_airbnb = pd.read_csv("AB_NYC_2019.csv")
print(df_airbnb.head(3))

     id                                 name  host_id  host_name  \
0  2539   Clean & quiet apt home by the park     2787       John
1  2595                Skylit Midtown Castle     2845   Jennifer
2  3647  THE VILLAGE OF HARLEM....NEW YORK !     4632  Elisabeth

  neighbourhood_group neighbourhood  latitude  longitude        room_type  \
0            Brooklyn    Kensington  40.64749  -73.97237     Private room
1           Manhattan       Midtown  40.75362  -73.98377  Entire home/apt
2           Manhattan        Harlem  40.80902  -73.94190     Private room

   price  minimum_nights  number_of_reviews last_review  reviews_per_month  \
0    149               1                  9  2018-10-19               0.21
1    225               1                 45  2019-05-21               0.38
2    150               3                  0         NaN                NaN

   calculated_host_listings_count  availability_365
0                               6               365
1                               2               355
2                               1               365

In [43]:
# Make id column the index
df2 = df_airbnb.set_index("id")
print(df2.head(3))
print(df2.name[3647])  # Get the name for id = 3467

                                     name  host_id  host_name  \
id
2539   Clean & quiet apt home by the park     2787       John
2595                Skylit Midtown Castle     2845   Jennifer
3647  THE VILLAGE OF HARLEM....NEW YORK !     4632  Elisabeth

     neighbourhood_group neighbourhood  latitude  longitude        room_type  \
id
2539            Brooklyn    Kensington  40.64749  -73.97237     Private room
2595           Manhattan       Midtown  40.75362  -73.98377  Entire home/apt
3647           Manhattan        Harlem  40.80902  -73.94190     Private room

      price  minimum_nights  number_of_reviews last_review  reviews_per_month  \
id
2539    149               1                  9  2018-10-19               0.21
2595    225               1                 45  2019-05-21               0.38
3647    150               3                  0         NaN                NaN

      calculated_host_listings_count  availability_365
id
2539                               6               365
2595                               2               355
3647                               1               365
THE VILLAGE OF HARLEM....NEW YORK !

In [44]:
# df3 = df2.groupby("room_type").mean(['price','number_of_reviews'])
# Set pandas display options to show all columns
numeric_columns = df2.select_dtypes(include=['float64', 'int64'])

In [45]:
# Include 'room_type' column in numeric_columns DataFrame
numeric_columns['room_type'] = df2['room_type']
df3 = numeric_columns.groupby("room_type").mean()
pd.set_option('display.max_columns', None)
print(df3.head(3))
print(df3.index)

                      host_id   latitude  longitude       price  \
room_type
Entire home/apt  6.175593e+07  40.728649 -73.960696  211.794246
Private room     7.247514e+07  40.729208 -73.942924   89.780973
Shared room      1.026241e+08  40.730514 -73.943343   70.127586

                 minimum_nights  number_of_reviews  reviews_per_month  \
room_type
Entire home/apt        8.506907          22.842418           1.306578
Private room           5.377900          24.112962           1.445209
Shared room            6.475000          16.600000           1.471726

                 calculated_host_listings_count  availability_365
room_type
Entire home/apt                       10.698335        111.920304
Private room                           3.227717        111.203933
Shared room                            4.662931        162.000862
Index(['Entire home/apt', 'Private room', 'Shared room'], dtype='object', name='room_type')

In [46]:
# Note that room_type has become to index - we can again convert it into a normal column
df3 = df3.reset_index()
pd.reset_option('display.max_columns') # Also reset the column display to default
print(df3.head(3))

         room_type       host_id   latitude  longitude       price  \
0  Entire home/apt  6.175593e+07  40.728649 -73.960696  211.794246
1     Private room  7.247514e+07  40.729208 -73.942924   89.780973
2      Shared room  1.026241e+08  40.730514 -73.943343   70.127586

   minimum_nights  number_of_reviews  reviews_per_month  \
0        8.506907          22.842418           1.306578
1        5.377900          24.112962           1.445209
2        6.475000          16.600000           1.471726

   calculated_host_listings_count  availability_365
0                       10.698335        111.920304
1                        3.227717        111.203933
2                        4.662931        162.000862

In [47]:
# Rows

# Get a single row
# Integer Based
print(df.iloc[0])

Payment ID                     Sun2959
total_bill                       16.99
tip                               1.01
gender                          Female
smoker                              No
day                                Sun
time                            Dinner
size                                 2
price_per_person                  8.49
Payer Name          Christy Cunningham
CC Number           3560330000000000.0
Name: 0, dtype: object

In [48]:
# Name Based
# First set the index to the column which will be used in locating the row
df = df.set_index('Payment ID') 

print(df.loc['Sun2959'])

total_bill                       16.99
tip                               1.01
gender                          Female
smoker                              No
day                                Sun
time                            Dinner
size                                 2
price_per_person                  8.49
Payer Name          Christy Cunningham
CC Number           3560330000000000.0
Name: Sun2959, dtype: object

In [49]:
# Remove a row
print(df.head())
df = df.drop('Sun2959',axis=0)
print(df.head())

            total_bill   tip  gender smoker  day    time  size  \
Payment ID
Sun2959          16.99  1.01  Female     No  Sun  Dinner     2
Sun4608          10.34  1.66    Male     No  Sun  Dinner     3
Sun4458          21.01  3.50    Male     No  Sun  Dinner     3
Sun5260          23.68  3.31    Male     No  Sun  Dinner     2
Sun2251          24.59  3.61  Female     No  Sun  Dinner     4

            price_per_person          Payer Name     CC Number
Payment ID
Sun2959                 8.49  Christy Cunningham  3.560330e+15
Sun4608                 3.45      Douglas Tucker  4.478070e+15
Sun4458                 7.00      Travis Walters  6.011810e+15
Sun5260                11.84    Nathaniel Harris  4.676140e+15
Sun2251                 6.15        Tonya Carter  4.832730e+15
            total_bill   tip  gender smoker  day    time  size  \
Payment ID
Sun4608          10.34  1.66    Male     No  Sun  Dinner     3
Sun4458          21.01  3.50    Male     No  Sun  Dinner     3
Sun5260          23.68  3.31    Male     No  Sun  Dinner     2
Sun2251          24.59  3.61  Female     No  Sun  Dinner     4
Sun9679          25.29  4.71    Male     No  Sun  Dinner     4

            price_per_person        Payer Name     CC Number
Payment ID
Sun4608                 3.45    Douglas Tucker  4.478070e+15
Sun4458                 7.00    Travis Walters  6.011810e+15
Sun5260                11.84  Nathaniel Harris  4.676140e+15
Sun2251                 6.15      Tonya Carter  4.832730e+15
Sun9679                 6.32        Erik Smith  2.131400e+14

## Conditional Filtering

In [50]:
df = pd.read_csv('tips.csv')
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID
0  Christy Cunningham  3.560330e+15    Sun2959
1      Douglas Tucker  4.478070e+15    Sun4608
2      Travis Walters  6.011810e+15    Sun4458
3    Nathaniel Harris  4.676140e+15    Sun5260
4        Tonya Carter  4.832730e+15    Sun2251

In [51]:
# Conditions

print(df['total_bill'] < 30)   # True/false

bool_series = df['total_bill'] > 30 # Save in a variable

0      True
1      True
2      True
3      True
4      True
       ...
239    True
240    True
241    True
242    True
243    True
Name: total_bill, Length: 244, dtype: bool

In [52]:
print(bool_series)      # True/False
print(df[bool_series])  # Actual results, applying the true/false conditions

0      False
1      False
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242    False
243    False
Name: total_bill, Length: 244, dtype: bool
     total_bill    tip  gender smoker   day    time  size  price_per_person  \
11        35.26   5.00  Female     No   Sun  Dinner     4              8.82
23        39.42   7.58    Male     No   Sat  Dinner     4              9.86
39        31.27   5.00    Male     No   Sat  Dinner     3             10.42
44        30.40   5.60    Male     No   Sun  Dinner     4              7.60
47        32.40   6.00    Male     No   Sun  Dinner     4              8.10
52        34.81   5.20  Female     No   Sun  Dinner     4              8.70
56        38.01   3.00    Male    Yes   Sat  Dinner     4              9.50
59        48.27   6.73    Male     No   Sat  Dinner     4             12.07
83        32.68   5.00    Male    Yes  Thur   Lunch     2             16.34
85        34.83   5.17  Female     No  Thur   Lunch     4              8.71
95        40.17   4.73    Male    Yes   Fri  Dinner     4             10.04
102       44.30   2.50  Female    Yes   Sat  Dinner     3             14.77
112       38.07   4.00    Male     No   Sun  Dinner     3             12.69
141       34.30   6.70    Male     No  Thur   Lunch     6              5.72
142       41.19   5.00    Male     No  Thur   Lunch     5              8.24
156       48.17   5.00    Male     No   Sun  Dinner     6              8.03
167       31.71   4.50    Male     No   Sun  Dinner     4              7.93
170       50.81  10.00    Male    Yes   Sat  Dinner     3             16.94
173       31.85   3.18    Male    Yes   Sun  Dinner     2             15.92
175       32.90   3.11    Male    Yes   Sun  Dinner     2             16.45
179       34.63   3.55    Male    Yes   Sun  Dinner     2             17.32
180       34.65   3.68    Male    Yes   Sun  Dinner     4              8.66
182       45.35   3.50    Male    Yes   Sun  Dinner     3             15.12
184       40.55   3.00    Male    Yes   Sun  Dinner     2             20.27
187       30.46   2.00    Male    Yes   Sun  Dinner     5              6.09
197       43.11   5.00  Female    Yes  Thur   Lunch     4             10.78
207       38.73   3.00    Male    Yes   Sat  Dinner     4              9.68
210       30.06   2.00    Male    Yes   Sat  Dinner     3             10.02
212       48.33   9.00    Male     No   Sat  Dinner     4             12.08
219       30.14   3.09  Female    Yes   Sat  Dinner     4              7.54
237       32.83   1.17    Male    Yes   Sat  Dinner     2             16.42
238       35.83   4.67  Female     No   Sat  Dinner     3             11.94

                Payer Name     CC Number Payment ID
11            Diane Macias  4.577820e+15    Sun6686
23          Lance Peterson  3.542580e+15     Sat239
39       Mr. Brandon Berry  6.011530e+15    Sat6373
44             Todd Cooper  5.038470e+11    Sun2274
47            James Barnes  3.552000e+15    Sun9677
52            Emily Daniel  4.291280e+15    Sun6165
56   James Christensen DDS  3.497940e+14    Sat8903
59             Brian Ortiz  6.596450e+15    Sat8139
83           Daniel Murphy  5.356180e+15   Thur8801
85             Shawna Cook  6.011790e+15   Thur7972
95           Aaron Bentley  1.800270e+14    Fri9628
102          Heather Cohen  3.797710e+14    Sat6240
112             Jeff Lopez  3.572870e+15     Sun591
141         Steven Carlson  3.526520e+15   Thur1025
142           Eric Andrews  4.356530e+15   Thur3621
156          Ryan Gonzales  3.523150e+15    Sun7518
167         Michael Lawson  3.566290e+15    Sun3719
170          Gregory Clark  5.473850e+15    Sat1954
173            Scott Perez  3.577120e+15    Sun9335
175        Nathan Reynolds  3.703070e+14    Sun5109
179           Brian Bailey  3.466560e+14    Sun9851
180       James Hebert DDS  6.761690e+11    Sun7544
182           Jose Parsons  4.112210e+15    Sun2337
184            Stephen Cox  3.547800e+15    Sun5140
187          David Barrett  4.792880e+15    Sun9987
197            Brooke Soto  5.544900e+15   Thur9313
207          Ricky Ramirez  3.478180e+14    Sat4505
210          Shawn Mendoza  3.018400e+13    Sat8361
212        Alex Williamson  6.762190e+11    Sat4590
219           Shelby House  5.020970e+11    Sat8863
237           Thomas Brown  4.284720e+15    Sat2929
238         Kimberly Crane  6.761840e+11    Sat9777

In [53]:
print(df[df['total_bill']>30])

     total_bill    tip  gender smoker   day    time  size  price_per_person  \
11        35.26   5.00  Female     No   Sun  Dinner     4              8.82
23        39.42   7.58    Male     No   Sat  Dinner     4              9.86
39        31.27   5.00    Male     No   Sat  Dinner     3             10.42
44        30.40   5.60    Male     No   Sun  Dinner     4              7.60
47        32.40   6.00    Male     No   Sun  Dinner     4              8.10
52        34.81   5.20  Female     No   Sun  Dinner     4              8.70
56        38.01   3.00    Male    Yes   Sat  Dinner     4              9.50
59        48.27   6.73    Male     No   Sat  Dinner     4             12.07
83        32.68   5.00    Male    Yes  Thur   Lunch     2             16.34
85        34.83   5.17  Female     No  Thur   Lunch     4              8.71
95        40.17   4.73    Male    Yes   Fri  Dinner     4             10.04
102       44.30   2.50  Female    Yes   Sat  Dinner     3             14.77
112       38.07   4.00    Male     No   Sun  Dinner     3             12.69
141       34.30   6.70    Male     No  Thur   Lunch     6              5.72
142       41.19   5.00    Male     No  Thur   Lunch     5              8.24
156       48.17   5.00    Male     No   Sun  Dinner     6              8.03
167       31.71   4.50    Male     No   Sun  Dinner     4              7.93
170       50.81  10.00    Male    Yes   Sat  Dinner     3             16.94
173       31.85   3.18    Male    Yes   Sun  Dinner     2             15.92
175       32.90   3.11    Male    Yes   Sun  Dinner     2             16.45
179       34.63   3.55    Male    Yes   Sun  Dinner     2             17.32
180       34.65   3.68    Male    Yes   Sun  Dinner     4              8.66
182       45.35   3.50    Male    Yes   Sun  Dinner     3             15.12
184       40.55   3.00    Male    Yes   Sun  Dinner     2             20.27
187       30.46   2.00    Male    Yes   Sun  Dinner     5              6.09
197       43.11   5.00  Female    Yes  Thur   Lunch     4             10.78
207       38.73   3.00    Male    Yes   Sat  Dinner     4              9.68
210       30.06   2.00    Male    Yes   Sat  Dinner     3             10.02
212       48.33   9.00    Male     No   Sat  Dinner     4             12.08
219       30.14   3.09  Female    Yes   Sat  Dinner     4              7.54
237       32.83   1.17    Male    Yes   Sat  Dinner     2             16.42
238       35.83   4.67  Female     No   Sat  Dinner     3             11.94

                Payer Name     CC Number Payment ID
11            Diane Macias  4.577820e+15    Sun6686
23          Lance Peterson  3.542580e+15     Sat239
39       Mr. Brandon Berry  6.011530e+15    Sat6373
44             Todd Cooper  5.038470e+11    Sun2274
47            James Barnes  3.552000e+15    Sun9677
52            Emily Daniel  4.291280e+15    Sun6165
56   James Christensen DDS  3.497940e+14    Sat8903
59             Brian Ortiz  6.596450e+15    Sat8139
83           Daniel Murphy  5.356180e+15   Thur8801
85             Shawna Cook  6.011790e+15   Thur7972
95           Aaron Bentley  1.800270e+14    Fri9628
102          Heather Cohen  3.797710e+14    Sat6240
112             Jeff Lopez  3.572870e+15     Sun591
141         Steven Carlson  3.526520e+15   Thur1025
142           Eric Andrews  4.356530e+15   Thur3621
156          Ryan Gonzales  3.523150e+15    Sun7518
167         Michael Lawson  3.566290e+15    Sun3719
170          Gregory Clark  5.473850e+15    Sat1954
173            Scott Perez  3.577120e+15    Sun9335
175        Nathan Reynolds  3.703070e+14    Sun5109
179           Brian Bailey  3.466560e+14    Sun9851
180       James Hebert DDS  6.761690e+11    Sun7544
182           Jose Parsons  4.112210e+15    Sun2337
184            Stephen Cox  3.547800e+15    Sun5140
187          David Barrett  4.792880e+15    Sun9987
197            Brooke Soto  5.544900e+15   Thur9313
207          Ricky Ramirez  3.478180e+14    Sat4505
210          Shawn Mendoza  3.018400e+13    Sat8361
212        Alex Williamson  6.762190e+11    Sat4590
219           Shelby House  5.020970e+11    Sat8863
237           Thomas Brown  4.284720e+15    Sat2929
238         Kimberly Crane  6.761840e+11    Sat9777

In [54]:
# Another syntax
print(df.total_bill > 30)
print(df[df.total_bill > 30])

0      False
1      False
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242    False
243    False
Name: total_bill, Length: 244, dtype: bool
     total_bill    tip  gender smoker   day    time  size  price_per_person  \
11        35.26   5.00  Female     No   Sun  Dinner     4              8.82
23        39.42   7.58    Male     No   Sat  Dinner     4              9.86
39        31.27   5.00    Male     No   Sat  Dinner     3             10.42
44        30.40   5.60    Male     No   Sun  Dinner     4              7.60
47        32.40   6.00    Male     No   Sun  Dinner     4              8.10
52        34.81   5.20  Female     No   Sun  Dinner     4              8.70
56        38.01   3.00    Male    Yes   Sat  Dinner     4              9.50
59        48.27   6.73    Male     No   Sat  Dinner     4             12.07
83        32.68   5.00    Male    Yes  Thur   Lunch     2             16.34
85        34.83   5.17  Female     No  Thur   Lunch     4              8.71
95        40.17   4.73    Male    Yes   Fri  Dinner     4             10.04
102       44.30   2.50  Female    Yes   Sat  Dinner     3             14.77
112       38.07   4.00    Male     No   Sun  Dinner     3             12.69
141       34.30   6.70    Male     No  Thur   Lunch     6              5.72
142       41.19   5.00    Male     No  Thur   Lunch     5              8.24
156       48.17   5.00    Male     No   Sun  Dinner     6              8.03
167       31.71   4.50    Male     No   Sun  Dinner     4              7.93
170       50.81  10.00    Male    Yes   Sat  Dinner     3             16.94
173       31.85   3.18    Male    Yes   Sun  Dinner     2             15.92
175       32.90   3.11    Male    Yes   Sun  Dinner     2             16.45
179       34.63   3.55    Male    Yes   Sun  Dinner     2             17.32
180       34.65   3.68    Male    Yes   Sun  Dinner     4              8.66
182       45.35   3.50    Male    Yes   Sun  Dinner     3             15.12
184       40.55   3.00    Male    Yes   Sun  Dinner     2             20.27
187       30.46   2.00    Male    Yes   Sun  Dinner     5              6.09
197       43.11   5.00  Female    Yes  Thur   Lunch     4             10.78
207       38.73   3.00    Male    Yes   Sat  Dinner     4              9.68
210       30.06   2.00    Male    Yes   Sat  Dinner     3             10.02
212       48.33   9.00    Male     No   Sat  Dinner     4             12.08
219       30.14   3.09  Female    Yes   Sat  Dinner     4              7.54
237       32.83   1.17    Male    Yes   Sat  Dinner     2             16.42
238       35.83   4.67  Female     No   Sat  Dinner     3             11.94

                Payer Name     CC Number Payment ID
11            Diane Macias  4.577820e+15    Sun6686
23          Lance Peterson  3.542580e+15     Sat239
39       Mr. Brandon Berry  6.011530e+15    Sat6373
44             Todd Cooper  5.038470e+11    Sun2274
47            James Barnes  3.552000e+15    Sun9677
52            Emily Daniel  4.291280e+15    Sun6165
56   James Christensen DDS  3.497940e+14    Sat8903
59             Brian Ortiz  6.596450e+15    Sat8139
83           Daniel Murphy  5.356180e+15   Thur8801
85             Shawna Cook  6.011790e+15   Thur7972
95           Aaron Bentley  1.800270e+14    Fri9628
102          Heather Cohen  3.797710e+14    Sat6240
112             Jeff Lopez  3.572870e+15     Sun591
141         Steven Carlson  3.526520e+15   Thur1025
142           Eric Andrews  4.356530e+15   Thur3621
156          Ryan Gonzales  3.523150e+15    Sun7518
167         Michael Lawson  3.566290e+15    Sun3719
170          Gregory Clark  5.473850e+15    Sat1954
173            Scott Perez  3.577120e+15    Sun9335
175        Nathan Reynolds  3.703070e+14    Sun5109
179           Brian Bailey  3.466560e+14    Sun9851
180       James Hebert DDS  6.761690e+11    Sun7544
182           Jose Parsons  4.112210e+15    Sun2337
184            Stephen Cox  3.547800e+15    Sun5140
187          David Barrett  4.792880e+15    Sun9987
197            Brooke Soto  5.544900e+15   Thur9313
207          Ricky Ramirez  3.478180e+14    Sat4505
210          Shawn Mendoza  3.018400e+13    Sat8361
212        Alex Williamson  6.762190e+11    Sat4590
219           Shelby House  5.020970e+11    Sat8863
237           Thomas Brown  4.284720e+15    Sat2929
238         Kimberly Crane  6.761840e+11    Sat9777

In [55]:
print(df[df['gender'] == 'Male'])

     total_bill   tip gender smoker  day    time  size  price_per_person  \
1         10.34  1.66   Male     No  Sun  Dinner     3              3.45
2         21.01  3.50   Male     No  Sun  Dinner     3              7.00
3         23.68  3.31   Male     No  Sun  Dinner     2             11.84
5         25.29  4.71   Male     No  Sun  Dinner     4              6.32
6          8.77  2.00   Male     No  Sun  Dinner     2              4.38
..          ...   ...    ...    ...  ...     ...   ...               ...
236       12.60  1.00   Male    Yes  Sat  Dinner     2              6.30
237       32.83  1.17   Male    Yes  Sat  Dinner     2             16.42
239       29.03  5.92   Male     No  Sat  Dinner     3              9.68
241       22.67  2.00   Male    Yes  Sat  Dinner     2             11.34
242       17.82  1.75   Male     No  Sat  Dinner     2              8.91

             Payer Name     CC Number Payment ID
1        Douglas Tucker  4.478070e+15    Sun4608
2        Travis Walters  6.011810e+15    Sun4458
3      Nathaniel Harris  4.676140e+15    Sun5260
5            Erik Smith  2.131400e+14    Sun9679
6    Kristopher Johnson  2.223730e+15    Sun5985
..                  ...           ...        ...
236       Matthew Myers  3.543680e+15    Sat5032
237        Thomas Brown  4.284720e+15    Sat2929
239       Michael Avila  5.296070e+15    Sat2657
241          Keith Wong  6.011890e+15    Sat3880
242        Dennis Dixon  4.375220e+12      Sat17

[157 rows x 11 columns]

In [56]:
# Multiple conditions
df_new = df[(df['total_bill'] > 30) & (df['gender']=='Male')]
print(df_new)

     total_bill    tip gender smoker   day    time  size  price_per_person  \
23        39.42   7.58   Male     No   Sat  Dinner     4              9.86
39        31.27   5.00   Male     No   Sat  Dinner     3             10.42
44        30.40   5.60   Male     No   Sun  Dinner     4              7.60
47        32.40   6.00   Male     No   Sun  Dinner     4              8.10
56        38.01   3.00   Male    Yes   Sat  Dinner     4              9.50
59        48.27   6.73   Male     No   Sat  Dinner     4             12.07
83        32.68   5.00   Male    Yes  Thur   Lunch     2             16.34
95        40.17   4.73   Male    Yes   Fri  Dinner     4             10.04
112       38.07   4.00   Male     No   Sun  Dinner     3             12.69
141       34.30   6.70   Male     No  Thur   Lunch     6              5.72
142       41.19   5.00   Male     No  Thur   Lunch     5              8.24
156       48.17   5.00   Male     No   Sun  Dinner     6              8.03
167       31.71   4.50   Male     No   Sun  Dinner     4              7.93
170       50.81  10.00   Male    Yes   Sat  Dinner     3             16.94
173       31.85   3.18   Male    Yes   Sun  Dinner     2             15.92
175       32.90   3.11   Male    Yes   Sun  Dinner     2             16.45
179       34.63   3.55   Male    Yes   Sun  Dinner     2             17.32
180       34.65   3.68   Male    Yes   Sun  Dinner     4              8.66
182       45.35   3.50   Male    Yes   Sun  Dinner     3             15.12
184       40.55   3.00   Male    Yes   Sun  Dinner     2             20.27
187       30.46   2.00   Male    Yes   Sun  Dinner     5              6.09
207       38.73   3.00   Male    Yes   Sat  Dinner     4              9.68
210       30.06   2.00   Male    Yes   Sat  Dinner     3             10.02
212       48.33   9.00   Male     No   Sat  Dinner     4             12.08
237       32.83   1.17   Male    Yes   Sat  Dinner     2             16.42

                Payer Name     CC Number Payment ID
23          Lance Peterson  3.542580e+15     Sat239
39       Mr. Brandon Berry  6.011530e+15    Sat6373
44             Todd Cooper  5.038470e+11    Sun2274
47            James Barnes  3.552000e+15    Sun9677
56   James Christensen DDS  3.497940e+14    Sat8903
59             Brian Ortiz  6.596450e+15    Sat8139
83           Daniel Murphy  5.356180e+15   Thur8801
95           Aaron Bentley  1.800270e+14    Fri9628
112             Jeff Lopez  3.572870e+15     Sun591
141         Steven Carlson  3.526520e+15   Thur1025
142           Eric Andrews  4.356530e+15   Thur3621
156          Ryan Gonzales  3.523150e+15    Sun7518
167         Michael Lawson  3.566290e+15    Sun3719
170          Gregory Clark  5.473850e+15    Sat1954
173            Scott Perez  3.577120e+15    Sun9335
175        Nathan Reynolds  3.703070e+14    Sun5109
179           Brian Bailey  3.466560e+14    Sun9851
180       James Hebert DDS  6.761690e+11    Sun7544
182           Jose Parsons  4.112210e+15    Sun2337
184            Stephen Cox  3.547800e+15    Sun5140
187          David Barrett  4.792880e+15    Sun9987
207          Ricky Ramirez  3.478180e+14    Sat4505
210          Shawn Mendoza  3.018400e+13    Sat8361
212        Alex Williamson  6.762190e+11    Sat4590
237           Thomas Brown  4.284720e+15    Sat2929

In [57]:
df_new = df[(df['total_bill'] > 30) & ~(df['gender']=='Male')]
print(df_new)

     total_bill   tip  gender smoker   day    time  size  price_per_person  \
11        35.26  5.00  Female     No   Sun  Dinner     4              8.82
52        34.81  5.20  Female     No   Sun  Dinner     4              8.70
85        34.83  5.17  Female     No  Thur   Lunch     4              8.71
102       44.30  2.50  Female    Yes   Sat  Dinner     3             14.77
197       43.11  5.00  Female    Yes  Thur   Lunch     4             10.78
219       30.14  3.09  Female    Yes   Sat  Dinner     4              7.54
238       35.83  4.67  Female     No   Sat  Dinner     3             11.94

         Payer Name     CC Number Payment ID
11     Diane Macias  4.577820e+15    Sun6686
52     Emily Daniel  4.291280e+15    Sun6165
85      Shawna Cook  6.011790e+15   Thur7972
102   Heather Cohen  3.797710e+14    Sat6240
197     Brooke Soto  5.544900e+15   Thur9313
219    Shelby House  5.020970e+11    Sat8863
238  Kimberly Crane  6.761840e+11    Sat9777

In [58]:
df_new = df[(df['total_bill'] > 30) & (df['gender']!='Male')]
print(df_new)

     total_bill   tip  gender smoker   day    time  size  price_per_person  \
11        35.26  5.00  Female     No   Sun  Dinner     4              8.82
52        34.81  5.20  Female     No   Sun  Dinner     4              8.70
85        34.83  5.17  Female     No  Thur   Lunch     4              8.71
102       44.30  2.50  Female    Yes   Sat  Dinner     3             14.77
197       43.11  5.00  Female    Yes  Thur   Lunch     4             10.78
219       30.14  3.09  Female    Yes   Sat  Dinner     4              7.54
238       35.83  4.67  Female     No   Sat  Dinner     3             11.94

         Payer Name     CC Number Payment ID
11     Diane Macias  4.577820e+15    Sun6686
52     Emily Daniel  4.291280e+15    Sun6165
85      Shawna Cook  6.011790e+15   Thur7972
102   Heather Cohen  3.797710e+14    Sat6240
197     Brooke Soto  5.544900e+15   Thur9313
219    Shelby House  5.020970e+11    Sat8863
238  Kimberly Crane  6.761840e+11    Sat9777

In [59]:
df_new = df[(df['total_bill'] > 30) | (df['tip'] > 5)]
print(df_new)

     total_bill    tip  gender smoker   day    time  size  price_per_person  \
11        35.26   5.00  Female     No   Sun  Dinner     4              8.82
23        39.42   7.58    Male     No   Sat  Dinner     4              9.86
39        31.27   5.00    Male     No   Sat  Dinner     3             10.42
44        30.40   5.60    Male     No   Sun  Dinner     4              7.60
47        32.40   6.00    Male     No   Sun  Dinner     4              8.10
52        34.81   5.20  Female     No   Sun  Dinner     4              8.70
56        38.01   3.00    Male    Yes   Sat  Dinner     4              9.50
59        48.27   6.73    Male     No   Sat  Dinner     4             12.07
83        32.68   5.00    Male    Yes  Thur   Lunch     2             16.34
85        34.83   5.17  Female     No  Thur   Lunch     4              8.71
88        24.71   5.85    Male     No  Thur   Lunch     2             12.36
95        40.17   4.73    Male    Yes   Fri  Dinner     4             10.04
102       44.30   2.50  Female    Yes   Sat  Dinner     3             14.77
112       38.07   4.00    Male     No   Sun  Dinner     3             12.69
116       29.93   5.07    Male     No   Sun  Dinner     4              7.48
141       34.30   6.70    Male     No  Thur   Lunch     6              5.72
142       41.19   5.00    Male     No  Thur   Lunch     5              8.24
155       29.85   5.14  Female     No   Sun  Dinner     5              5.97
156       48.17   5.00    Male     No   Sun  Dinner     6              8.03
167       31.71   4.50    Male     No   Sun  Dinner     4              7.93
170       50.81  10.00    Male    Yes   Sat  Dinner     3             16.94
172        7.25   5.15    Male    Yes   Sun  Dinner     2              3.62
173       31.85   3.18    Male    Yes   Sun  Dinner     2             15.92
175       32.90   3.11    Male    Yes   Sun  Dinner     2             16.45
179       34.63   3.55    Male    Yes   Sun  Dinner     2             17.32
180       34.65   3.68    Male    Yes   Sun  Dinner     4              8.66
181       23.33   5.65    Male    Yes   Sun  Dinner     2             11.66
182       45.35   3.50    Male    Yes   Sun  Dinner     3             15.12
183       23.17   6.50    Male    Yes   Sun  Dinner     4              5.79
184       40.55   3.00    Male    Yes   Sun  Dinner     2             20.27
187       30.46   2.00    Male    Yes   Sun  Dinner     5              6.09
197       43.11   5.00  Female    Yes  Thur   Lunch     4             10.78
207       38.73   3.00    Male    Yes   Sat  Dinner     4              9.68
210       30.06   2.00    Male    Yes   Sat  Dinner     3             10.02
211       25.89   5.16    Male    Yes   Sat  Dinner     4              6.47
212       48.33   9.00    Male     No   Sat  Dinner     4             12.08
214       28.17   6.50  Female    Yes   Sat  Dinner     3              9.39
219       30.14   3.09  Female    Yes   Sat  Dinner     4              7.54
237       32.83   1.17    Male    Yes   Sat  Dinner     2             16.42
238       35.83   4.67  Female     No   Sat  Dinner     3             11.94
239       29.03   5.92    Male     No   Sat  Dinner     3              9.68

                Payer Name     CC Number Payment ID
11            Diane Macias  4.577820e+15    Sun6686
23          Lance Peterson  3.542580e+15     Sat239
39       Mr. Brandon Berry  6.011530e+15    Sat6373
44             Todd Cooper  5.038470e+11    Sun2274
47            James Barnes  3.552000e+15    Sun9677
52            Emily Daniel  4.291280e+15    Sun6165
56   James Christensen DDS  3.497940e+14    Sat8903
59             Brian Ortiz  6.596450e+15    Sat8139
83           Daniel Murphy  5.356180e+15   Thur8801
85             Shawna Cook  6.011790e+15   Thur7972
88            Roger Taylor  4.410250e+12   Thur9003
95           Aaron Bentley  1.800270e+14    Fri9628
102          Heather Cohen  3.797710e+14    Sat6240
112             Jeff Lopez  3.572870e+15     Sun591
116            Shawn Blake  4.689080e+15      Sun22
141         Steven Carlson  3.526520e+15   Thur1025
142           Eric Andrews  4.356530e+15   Thur3621
155         Madison Wilson  4.210880e+15    Sun9176
156          Ryan Gonzales  3.523150e+15    Sun7518
167         Michael Lawson  3.566290e+15    Sun3719
170          Gregory Clark  5.473850e+15    Sat1954
172            Larry White  3.043260e+13    Sun9209
173            Scott Perez  3.577120e+15    Sun9335
175        Nathan Reynolds  3.703070e+14    Sun5109
179           Brian Bailey  3.466560e+14    Sun9851
180       James Hebert DDS  6.761690e+11    Sun7544
181              Jason Cox  6.556930e+15    Sun3402
182           Jose Parsons  4.112210e+15    Sun2337
183      Dr. Michael James  4.718500e+12    Sun6059
184            Stephen Cox  3.547800e+15    Sun5140
187          David Barrett  4.792880e+15    Sun9987
197            Brooke Soto  5.544900e+15   Thur9313
207          Ricky Ramirez  3.478180e+14    Sat4505
210          Shawn Mendoza  3.018400e+13    Sat8361
211         Christopher Li  6.011960e+15    Sat6735
212        Alex Williamson  6.762190e+11    Sat4590
214        Marissa Jackson  4.922300e+15    Sat3374
219           Shelby House  5.020970e+11    Sat8863
237           Thomas Brown  4.284720e+15    Sat2929
238         Kimberly Crane  6.761840e+11    Sat9777
239          Michael Avila  5.296070e+15    Sat2657

In [60]:
# Conditional is in operator
options = ['Sat','Sun']
print(df['day'].isin(options))

print(df[df['day'].isin(['Sat','Sun'])])

0       True
1       True
2       True
3       True
4       True
       ...
239     True
240     True
241     True
242     True
243    False
Name: day, Length: 244, dtype: bool
     total_bill   tip  gender smoker  day    time  size  price_per_person  \
0         16.99  1.01  Female     No  Sun  Dinner     2              8.49
1         10.34  1.66    Male     No  Sun  Dinner     3              3.45
2         21.01  3.50    Male     No  Sun  Dinner     3              7.00
3         23.68  3.31    Male     No  Sun  Dinner     2             11.84
4         24.59  3.61  Female     No  Sun  Dinner     4              6.15
..          ...   ...     ...    ...  ...     ...   ...               ...
238       35.83  4.67  Female     No  Sat  Dinner     3             11.94
239       29.03  5.92    Male     No  Sat  Dinner     3              9.68
240       27.18  2.00  Female    Yes  Sat  Dinner     2             13.59
241       22.67  2.00    Male    Yes  Sat  Dinner     2             11.34
242       17.82  1.75    Male     No  Sat  Dinner     2              8.91

             Payer Name     CC Number Payment ID
0    Christy Cunningham  3.560330e+15    Sun2959
1        Douglas Tucker  4.478070e+15    Sun4608
2        Travis Walters  6.011810e+15    Sun4458
3      Nathaniel Harris  4.676140e+15    Sun5260
4          Tonya Carter  4.832730e+15    Sun2251
..                  ...           ...        ...
238      Kimberly Crane  6.761840e+11    Sat9777
239       Michael Avila  5.296070e+15    Sat2657
240      Monica Sanders  3.506810e+15    Sat1766
241          Keith Wong  6.011890e+15    Sat3880
242        Dennis Dixon  4.375220e+12      Sat17

[163 rows x 11 columns]

## Useful Methods

In [61]:
df = pd.read_csv('tips.csv')
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID
0  Christy Cunningham  3.560330e+15    Sun2959
1      Douglas Tucker  4.478070e+15    Sun4608
2      Travis Walters  6.011810e+15    Sun4458
3    Nathaniel Harris  4.676140e+15    Sun5260
4        Tonya Carter  4.832730e+15    Sun2251

In [62]:
# apply function
print(df.info())

def last_four(num):
    return str(num)[-4:]

print(df['CC Number'][0])

print(last_four(3560325168603410))

df['last_four'] = df['CC Number'].apply(last_four)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   total_bill        244 non-null    float64
 1   tip               244 non-null    float64
 2   gender            244 non-null    object
 3   smoker            244 non-null    object
 4   day               244 non-null    object
 5   time              244 non-null    object
 6   size              244 non-null    int64
 7   price_per_person  244 non-null    float64
 8   Payer Name        244 non-null    object
 9   CC Number         244 non-null    float64
 10  Payment ID        244 non-null    object
dtypes: float64(4), int64(1), object(6)
memory usage: 21.1+ KB
None
3560330000000000.0
3410

In [63]:
# More complex use of apply()
print(df['total_bill'].mean())

def yelp(price):
    if price < 10:
        return '$'
    elif price >= 10 and price < 30:
        return '$$'
    else:
        return '$$$'

df['Expensive'] = df['total_bill'].apply(yelp)
print(df.head)

19.78594262295082
<bound method NDFrame.head of      total_bill   tip  gender smoker   day    time  size  price_per_person  \
0         16.99  1.01  Female     No   Sun  Dinner     2              8.49
1         10.34  1.66    Male     No   Sun  Dinner     3              3.45
2         21.01  3.50    Male     No   Sun  Dinner     3              7.00
3         23.68  3.31    Male     No   Sun  Dinner     2             11.84
4         24.59  3.61  Female     No   Sun  Dinner     4              6.15
..          ...   ...     ...    ...   ...     ...   ...               ...
239       29.03  5.92    Male     No   Sat  Dinner     3              9.68
240       27.18  2.00  Female    Yes   Sat  Dinner     2             13.59
241       22.67  2.00    Male    Yes   Sat  Dinner     2             11.34
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

             Payer Name     CC Number Payment ID last_four Expensive
0    Christy Cunningham  3.560330e+15    Sun2959      00.0        $$
1        Douglas Tucker  4.478070e+15    Sun4608      00.0        $$
2        Travis Walters  6.011810e+15    Sun4458      00.0        $$
3      Nathaniel Harris  4.676140e+15    Sun5260      00.0        $$
4          Tonya Carter  4.832730e+15    Sun2251      00.0        $$
..                  ...           ...        ...       ...       ...
239       Michael Avila  5.296070e+15    Sat2657      00.0        $$
240      Monica Sanders  3.506810e+15    Sat1766      00.0        $$
241          Keith Wong  6.011890e+15    Sat3880      00.0        $$
242        Dennis Dixon  4.375220e+12      Sat17      00.0        $$
243     Michelle Hardin  3.511450e+15    Thur672      00.0        $$

[244 rows x 13 columns]>

In [64]:
# apply on multiple columns

def quality(total_bill,tip):
    if tip/total_bill  > 0.25:
        return "Generous"
    else:
        return "Other"
'''
add a new column Tip_Quality
Apply a Lambda function to all the rows (because axis = 1)
For each row, calculate Tip_Quality using the quality() function above
'''

'\nadd a new column Tip_Quality\nApply a Lambda function to all the rows (because axis = 1)\nFor each row, calculate Tip_Quality using the quality() function above\n'

In [65]:
df['Tip Quality'] = df[['total_bill','tip']].apply(lambda df: quality(df['total_bill'],df['tip']),axis=1)
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID last_four Expensive Tip Quality
0  Christy Cunningham  3.560330e+15    Sun2959      00.0        $$       Other
1      Douglas Tucker  4.478070e+15    Sun4608      00.0        $$       Other
2      Travis Walters  6.011810e+15    Sun4458      00.0        $$       Other
3    Nathaniel Harris  4.676140e+15    Sun5260      00.0        $$       Other
4        Tonya Carter  4.832730e+15    Sun2251      00.0        $$       Other

In [66]:
# sort_values
print(df.sort_values('tip'))

     total_bill    tip  gender smoker   day    time  size  price_per_person  \
92         5.75   1.00  Female    Yes   Fri  Dinner     2              2.88
111        7.25   1.00  Female     No   Sat  Dinner     1              7.25
67         3.07   1.00  Female    Yes   Sat  Dinner     1              3.07
236       12.60   1.00    Male    Yes   Sat  Dinner     2              6.30
0         16.99   1.01  Female     No   Sun  Dinner     2              8.49
..          ...    ...     ...    ...   ...     ...   ...               ...
141       34.30   6.70    Male     No  Thur   Lunch     6              5.72
59        48.27   6.73    Male     No   Sat  Dinner     4             12.07
23        39.42   7.58    Male     No   Sat  Dinner     4              9.86
212       48.33   9.00    Male     No   Sat  Dinner     4             12.08
170       50.81  10.00    Male    Yes   Sat  Dinner     3             16.94

             Payer Name     CC Number Payment ID last_four Expensive  \
92         Leah Ramirez  3.508910e+15    Fri3780      00.0         $
111         Terri Jones  3.559220e+15    Sat4801      00.0         $
67        Tiffany Brock  4.359490e+15    Sat3455      00.0         $
236       Matthew Myers  3.543680e+15    Sat5032      00.0        $$
0    Christy Cunningham  3.560330e+15    Sun2959      00.0        $$
..                  ...           ...        ...       ...       ...
141      Steven Carlson  3.526520e+15   Thur1025      00.0       $$$
59          Brian Ortiz  6.596450e+15    Sat8139      00.0       $$$
23       Lance Peterson  3.542580e+15     Sat239      00.0       $$$
212     Alex Williamson  6.762190e+11    Sat4590      00.0       $$$
170       Gregory Clark  5.473850e+15    Sat1954      00.0       $$$

    Tip Quality
92        Other
111       Other
67     Generous
236       Other
0         Other
..          ...
141       Other
59        Other
23        Other
212       Other
170       Other

[244 rows x 14 columns]

In [67]:
# correlation
print(df[['total_bill','tip']].corr())

            total_bill       tip
total_bill    1.000000  0.675734
tip           0.675734  1.000000

In [68]:
# idxmin and idxmax
print(df.head())

print(df['total_bill'].max())
print(df['total_bill'].idxmax())
print(df['total_bill'].idxmin())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID last_four Expensive Tip Quality
0  Christy Cunningham  3.560330e+15    Sun2959      00.0        $$       Other
1      Douglas Tucker  4.478070e+15    Sun4608      00.0        $$       Other
2      Travis Walters  6.011810e+15    Sun4458      00.0        $$       Other
3    Nathaniel Harris  4.676140e+15    Sun5260      00.0        $$       Other
4        Tonya Carter  4.832730e+15    Sun2251      00.0        $$       Other
50.81
170
67

In [69]:
print(df.iloc[67])
print(df.iloc[170])

total_bill                        3.07
tip                                1.0
gender                          Female
smoker                             Yes
day                                Sat
time                            Dinner
size                                 1
price_per_person                  3.07
Payer Name               Tiffany Brock
CC Number           4359490000000000.0
Payment ID                     Sat3455
last_four                         00.0
Expensive                            $
Tip Quality                   Generous
Name: 67, dtype: object
total_bill                       50.81
tip                               10.0
gender                            Male
smoker                             Yes
day                                Sat
time                            Dinner
size                                 3
price_per_person                 16.94
Payer Name               Gregory Clark
CC Number           5473850000000000.0
Payment ID                     Sat1954
last_four                         00.0
Expensive                          $$$
Tip Quality                      Other
Name: 170, dtype: object

In [70]:
# value_counts - get count on categorical columns
print(df['smoker'].value_counts())   # Smokers and non-smokers
print(df['gender'].value_counts())   # Males and Females

smoker
No     151
Yes     93
Name: count, dtype: int64
gender
Male      157
Female     87
Name: count, dtype: int64

In [71]:
# replace one value with another
print(df.head())

df['Tip Quality'] = df['Tip Quality'].replace(to_replace='Other',value='Ok')
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID last_four Expensive Tip Quality
0  Christy Cunningham  3.560330e+15    Sun2959      00.0        $$       Other
1      Douglas Tucker  4.478070e+15    Sun4608      00.0        $$       Other
2      Travis Walters  6.011810e+15    Sun4458      00.0        $$       Other
3    Nathaniel Harris  4.676140e+15    Sun5260      00.0        $$       Other
4        Tonya Carter  4.832730e+15    Sun2251      00.0        $$       Other
   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID last_four Expensive Tip Quality
0  Christy Cunningham  3.560330e+15    Sun2959      00.0        $$          Ok
1      Douglas Tucker  4.478070e+15    Sun4608      00.0        $$          Ok
2      Travis Walters  6.011810e+15    Sun4458      00.0        $$          Ok
3    Nathaniel Harris  4.676140e+15    Sun5260      00.0        $$          Ok
4        Tonya Carter  4.832730e+15    Sun2251      00.0        $$          Ok

In [72]:
# unique
print(df['size'].unique())   # All the unique values as an array
print(df['size'].nunique())  # Number of unique values (i.e. count of the above array)
print(df['time'].unique())   # For a char column

[2 3 4 1 6 5]
6
['Dinner' 'Lunch']

In [73]:
# map
my_map = {'Dinner':'D','Lunch':'L'}
df_new = df['time'].map(my_map) # Create a new DF only containing D or L for each row
print(df_new.head())

0    D
1    D
2    D
3    D
4    D
Name: time, dtype: object

In [74]:
# duplicated and drop_duplicates
# Returns True for the 1st instance of a duplicated row
print(df.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242    False
243    False
Length: 244, dtype: bool

In [75]:
simple_df = pd.DataFrame([1,2,2],['a','b','c'])

In [76]:
print(simple_df)

   0
a  1
b  2
c  2

In [77]:
print(simple_df.duplicated())  # True/False for each case

a    False
b    False
c     True
dtype: bool

In [78]:
print(simple_df.drop_duplicates())

   0
a  1
b  2

In [79]:
# between: options for inclusive are both, left, right, neither
print(df['total_bill'].between(10,20,inclusive='both'))     # True/false
print(df[df['total_bill'].between(10,20,inclusive='both')]) # Actual data

0       True
1       True
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242     True
243     True
Name: total_bill, Length: 244, dtype: bool
     total_bill   tip  gender smoker   day    time  size  price_per_person  \
0         16.99  1.01  Female     No   Sun  Dinner     2              8.49
1         10.34  1.66    Male     No   Sun  Dinner     3              3.45
8         15.04  1.96    Male     No   Sun  Dinner     2              7.52
9         14.78  3.23    Male     No   Sun  Dinner     2              7.39
10        10.27  1.71    Male     No   Sun  Dinner     2              5.14
..          ...   ...     ...    ...   ...     ...   ...               ...
234       15.53  3.00    Male    Yes   Sat  Dinner     2              7.76
235       10.07  1.25    Male     No   Sat  Dinner     2              5.04
236       12.60  1.00    Male    Yes   Sat  Dinner     2              6.30
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

             Payer Name     CC Number Payment ID last_four Expensive  \
0    Christy Cunningham  3.560330e+15    Sun2959      00.0        $$
1        Douglas Tucker  4.478070e+15    Sun4608      00.0        $$
8       Joseph Mcdonald  3.522870e+15    Sun6820      00.0        $$
9         Jerome Abbott  3.532120e+15    Sun3775      00.0        $$
10        William Riley  5.662880e+11    Sun2546      00.0        $$
..                  ...           ...        ...       ...       ...
234       Tracy Douglas  4.097940e+15    Sat7220      00.0        $$
235       Sean Gonzalez  3.534020e+15    Sat4615      00.0        $$
236       Matthew Myers  3.543680e+15    Sat5032      00.0        $$
242        Dennis Dixon  4.375220e+12      Sat17      00.0        $$
243     Michelle Hardin  3.511450e+15    Thur672      00.0        $$

    Tip Quality
0            Ok
1            Ok
8            Ok
9            Ok
10           Ok
..          ...
234          Ok
235          Ok
236          Ok
242          Ok
243          Ok

[130 rows x 14 columns]

In [80]:
# Sample data, randomly selected
print(df.sample(5))             # 5 rows
print(df.sample(frac=0.1))      # 10% of rows

     total_bill   tip  gender smoker  day    time  size  price_per_person  \
169       10.63  2.00  Female    Yes  Sat  Dinner     2              5.32
161       12.66  2.50    Male     No  Sun  Dinner     2              6.33
69        15.01  2.09    Male    Yes  Sat  Dinner     2              7.50
222        8.58  1.92    Male    Yes  Fri   Lunch     1              8.58
93        16.32  4.30  Female    Yes  Fri  Dinner     2              8.16

          Payer Name     CC Number Payment ID last_four Expensive Tip Quality
169         Amy Hill  3.536330e+15    Sat1788      00.0        $$          Ok
161  Brandon Oconnor  4.406880e+15    Sun5879      00.0        $$          Ok
69         Adam Hall  4.700920e+15     Sat855      00.0        $$          Ok
222   Jason Lawrence  3.505300e+15    Fri6624      00.0         $          Ok
93    Natalie Nguyen  5.181240e+15    Fri6963      00.0        $$    Generous
     total_bill   tip  gender smoker   day    time  size  price_per_person  \
32        15.06  3.00  Female     No   Sat  Dinner     2              7.53
215       12.90  1.10  Female    Yes   Sat  Dinner     2              6.45
213       13.27  2.50  Female    Yes   Sat  Dinner     2              6.64
106       20.49  4.06    Male    Yes   Sat  Dinner     2             10.24
143       27.05  5.00  Female     No  Thur   Lunch     6              4.51
98        21.01  3.00    Male    Yes   Fri  Dinner     2             10.50
4         24.59  3.61  Female     No   Sun  Dinner     4              6.15
34        17.78  3.27    Male     No   Sat  Dinner     2              8.89
18        16.97  3.50  Female     No   Sun  Dinner     3              5.66
138       16.00  2.00    Male    Yes  Thur   Lunch     2              8.00
127       14.52  2.00  Female     No  Thur   Lunch     2              7.26
2         21.01  3.50    Male     No   Sun  Dinner     3              7.00
182       45.35  3.50    Male    Yes   Sun  Dinner     3             15.12
219       30.14  3.09  Female    Yes   Sat  Dinner     4              7.54
201       12.74  2.01  Female    Yes  Thur   Lunch     2              6.37
39        31.27  5.00    Male     No   Sat  Dinner     3             10.42
123       15.95  2.00    Male     No  Thur   Lunch     2              7.98
58        11.24  1.76    Male    Yes   Sat  Dinner     2              5.62
62        11.02  1.98    Male    Yes   Sat  Dinner     2              5.51
161       12.66  2.50    Male     No   Sun  Dinner     2              6.33
177       14.48  2.00    Male    Yes   Sun  Dinner     2              7.24
190       15.69  1.50    Male    Yes   Sun  Dinner     2              7.84
225       16.27  2.50  Female    Yes   Fri   Lunch     2              8.14
111        7.25  1.00  Female     No   Sat  Dinner     1              7.25

            Payer Name     CC Number Payment ID last_four Expensive  \
32       Amanda Wilson  2.131860e+14    Sat1327      00.0        $$
215       Jessica Owen  4.726900e+12    Sat6983      00.0        $$
213     Robin Andersen  5.801410e+11    Sat1374      00.0        $$
106      Karl Mcdaniel  1.800240e+14    Sat7865      00.0        $$
143       Regina Jones  4.311050e+12   Thur6179      00.0        $$
98          Michael Li  4.831800e+15     Fri144      00.0        $$
4         Tonya Carter  4.832730e+15    Sun2251      00.0        $$
34      Jacob Castillo  3.551490e+15    Sat8124      00.0        $$
18      Laura Martinez  3.042230e+13    Sun2789      00.0        $$
138      Jason Burgess  3.561460e+15   Thur2710      00.0        $$
127    Jessica Simmons  2.131020e+14   Thur1512      00.0        $$
2       Travis Walters  6.011810e+15    Sun4458      00.0        $$
182       Jose Parsons  4.112210e+15    Sun2337      00.0       $$$
219       Shelby House  5.020970e+11    Sat8863      00.0       $$$
201      Abigail Parks  3.586650e+15   Thur2544      00.0        $$
39   Mr. Brandon Berry  6.011530e+15    Sat6373      00.0       $$$
123   Christopher Lang  4.820630e+15   Thur1992      00.0        $$
58       Troy Guerrero  3.560780e+15    Sat6683      00.0        $$
62         Joseph Hart  1.800460e+14    Sat2265      00.0        $$
161    Brandon Oconnor  4.406880e+15    Sun5879      00.0        $$
177        John Dudley  4.565180e+15    Sun6203      00.0        $$
190       Riley Barnes  1.800540e+14    Sun5104      00.0        $$
225     Whitney Arnold  3.579110e+15    Fri6665      00.0        $$
111        Terri Jones  3.559220e+15    Sat4801      00.0         $

    Tip Quality
32           Ok
215          Ok
213          Ok
106          Ok
143          Ok
98           Ok
4            Ok
34           Ok
18           Ok
138          Ok
127          Ok
2            Ok
182          Ok
219          Ok
201          Ok
39           Ok
123          Ok
58           Ok
62           Ok
161          Ok
177          Ok
190          Ok
225          Ok
111          Ok

In [81]:
# nlargest and nsmallest
print(df.nlargest(10,'tip'))
print(df.nsmallest(10,'tip'))

     total_bill    tip  gender smoker   day    time  size  price_per_person  \
170       50.81  10.00    Male    Yes   Sat  Dinner     3             16.94
212       48.33   9.00    Male     No   Sat  Dinner     4             12.08
23        39.42   7.58    Male     No   Sat  Dinner     4              9.86
59        48.27   6.73    Male     No   Sat  Dinner     4             12.07
141       34.30   6.70    Male     No  Thur   Lunch     6              5.72
183       23.17   6.50    Male    Yes   Sun  Dinner     4              5.79
214       28.17   6.50  Female    Yes   Sat  Dinner     3              9.39
47        32.40   6.00    Male     No   Sun  Dinner     4              8.10
239       29.03   5.92    Male     No   Sat  Dinner     3              9.68
88        24.71   5.85    Male     No  Thur   Lunch     2             12.36

            Payer Name     CC Number Payment ID last_four Expensive  \
170      Gregory Clark  5.473850e+15    Sat1954      00.0       $$$
212    Alex Williamson  6.762190e+11    Sat4590      00.0       $$$
23      Lance Peterson  3.542580e+15     Sat239      00.0       $$$
59         Brian Ortiz  6.596450e+15    Sat8139      00.0       $$$
141     Steven Carlson  3.526520e+15   Thur1025      00.0       $$$
183  Dr. Michael James  4.718500e+12    Sun6059      00.0        $$
214    Marissa Jackson  4.922300e+15    Sat3374      00.0        $$
47        James Barnes  3.552000e+15    Sun9677      00.0       $$$
239      Michael Avila  5.296070e+15    Sat2657      00.0        $$
88        Roger Taylor  4.410250e+12   Thur9003      00.0        $$

    Tip Quality
170          Ok
212          Ok
23           Ok
59           Ok
141          Ok
183    Generous
214          Ok
47           Ok
239          Ok
88           Ok
     total_bill   tip  gender smoker   day    time  size  price_per_person  \
67         3.07  1.00  Female    Yes   Sat  Dinner     1              3.07
92         5.75  1.00  Female    Yes   Fri  Dinner     2              2.88
111        7.25  1.00  Female     No   Sat  Dinner     1              7.25
236       12.60  1.00    Male    Yes   Sat  Dinner     2              6.30
0         16.99  1.01  Female     No   Sun  Dinner     2              8.49
215       12.90  1.10  Female    Yes   Sat  Dinner     2              6.45
237       32.83  1.17    Male    Yes   Sat  Dinner     2             16.42
75        10.51  1.25    Male     No   Sat  Dinner     2              5.26
135        8.51  1.25  Female     No  Thur   Lunch     2              4.26
235       10.07  1.25    Male     No   Sat  Dinner     2              5.04

             Payer Name     CC Number Payment ID last_four Expensive  \
67        Tiffany Brock  4.359490e+15    Sat3455      00.0         $
92         Leah Ramirez  3.508910e+15    Fri3780      00.0         $
111         Terri Jones  3.559220e+15    Sat4801      00.0         $
236       Matthew Myers  3.543680e+15    Sat5032      00.0        $$
0    Christy Cunningham  3.560330e+15    Sun2959      00.0        $$
215        Jessica Owen  4.726900e+12    Sat6983      00.0        $$
237        Thomas Brown  4.284720e+15    Sat2929      00.0       $$$
75        Kenneth Hayes  2.131420e+14    Sat5056      00.0        $$
135      Rebecca Harris  4.320270e+15   Thur6600      00.0         $
235       Sean Gonzalez  3.534020e+15    Sat4615      00.0        $$

    Tip Quality
67     Generous
92           Ok
111          Ok
236          Ok
0            Ok
215          Ok
237          Ok
75           Ok
135          Ok
235          Ok

## Groupby and Multi-index

In [82]:
'''
groupby functionality:
1. Splitting: The data is first split into groups based on the criteria provided
2. Applying: A function (or multiple functions) is applied to each group independently
3. Combining: The results of the function applications are then combined 
   into a new DataFrame
'''

'\ngroupby functionality:\n1. Splitting: The data is first split into groups based on the criteria provided\n2. Applying: A function (or multiple functions) is applied to each group independently\n3. Combining: The results of the function applications are then combined \n   into a new DataFrame\n'

In [83]:
df = pd.read_csv('tips.csv')
print(df)

     total_bill   tip  gender smoker   day    time  size  price_per_person  \
0         16.99  1.01  Female     No   Sun  Dinner     2              8.49
1         10.34  1.66    Male     No   Sun  Dinner     3              3.45
2         21.01  3.50    Male     No   Sun  Dinner     3              7.00
3         23.68  3.31    Male     No   Sun  Dinner     2             11.84
4         24.59  3.61  Female     No   Sun  Dinner     4              6.15
..          ...   ...     ...    ...   ...     ...   ...               ...
239       29.03  5.92    Male     No   Sat  Dinner     3              9.68
240       27.18  2.00  Female    Yes   Sat  Dinner     2             13.59
241       22.67  2.00    Male    Yes   Sat  Dinner     2             11.34
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

             Payer Name     CC Number Payment ID
0    Christy Cunningham  3.560330e+15    Sun2959
1        Douglas Tucker  4.478070e+15    Sun4608
2        Travis Walters  6.011810e+15    Sun4458
3      Nathaniel Harris  4.676140e+15    Sun5260
4          Tonya Carter  4.832730e+15    Sun2251
..                  ...           ...        ...
239       Michael Avila  5.296070e+15    Sat2657
240      Monica Sanders  3.506810e+15    Sat1766
241          Keith Wong  6.011890e+15    Sat3880
242        Dennis Dixon  4.375220e+12      Sat17
243     Michelle Hardin  3.511450e+15    Thur672

[244 rows x 11 columns]

In [84]:
# 1. Splitting
df_grouped = df.groupby('gender')

In [85]:
# Note that the output will not have any visible impact, except for 
#   a mention of grouping
print(df_grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000231DF880AA0>

In [86]:
# 2. Applying
# Calculate the mean tip for each gender
mean_tip_by_gender = df_grouped['tip'].mean()
print(mean_tip_by_gender)

gender
Female    2.833448
Male      3.089618
Name: tip, dtype: float64

In [87]:
print(df_grouped['tip'].min())
print(df_grouped['tip'].max())
print(df_grouped['tip'].std())
print(df_grouped['tip'].var())
print(df_grouped['tip'].count())
print(df_grouped['tip'].sum())

gender
Female    1.0
Male      1.0
Name: tip, dtype: float64
gender
Female     6.5
Male      10.0
Name: tip, dtype: float64
gender
Female    1.159495
Male      1.489102
Name: tip, dtype: float64
gender
Female    1.344428
Male      2.217424
Name: tip, dtype: float64
gender
Female     87
Male      157
Name: tip, dtype: int64
gender
Female    246.51
Male      485.07
Name: tip, dtype: float64

In [88]:
# Creating groups on multiple columns
df_grouped = df.groupby(['gender', 'day'])

In [89]:
# 3. Combining
mean_tip_by_gender_day = df_grouped['tip'].mean()
print(mean_tip_by_gender_day)

gender  day
Female  Fri     2.781111
        Sat     2.801786
        Sun     3.367222
        Thur    2.575625
Male    Fri     2.693000
        Sat     3.083898
        Sun     3.220345
        Thur    2.980333
Name: tip, dtype: float64

In [90]:
# agg function
# Apply multiple aggregation functions to different columns when grouping data
# Calculate both the mean and sum of the 'tip' column for each combination of 
#     'gender' and 'day'

# Group the DataFrame by both 'gender' and 'day' and calculate the mean and sum of 'tip' for each combination
df_grouped = df.groupby(['gender', 'day']).agg({'tip': ['mean', 'sum']}).reset_index()

In [91]:
# When we perform group operations using groupby(), the resulting DataFrame 
#   has a hierarchical index, known as a MultiIndex, which reflects the groups 
#   created by the grouping columns
# Resetting the index using reset_index() converts the hierarchical index 
#   into a simple integer index, making the DataFrame easier to work with 
#   and allowing us to access the grouped data more easily

In [92]:
# Rename the columns for clarity
df_grouped.columns = ['gender', 'day', 'mean_tip', 'total_tip']

print(df_grouped)

   gender   day  mean_tip  total_tip
0  Female   Fri  2.781111      25.03
1  Female   Sat  2.801786      78.45
2  Female   Sun  3.367222      60.61
3  Female  Thur  2.575625      82.42
4    Male   Fri  2.693000      26.93
5    Male   Sat  3.083898     181.95
6    Male   Sun  3.220345     186.78
7    Male  Thur  2.980333      89.41